/*.aside-1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 5px;
  margin-right: 5px;
}*/

body {
    padding-top: 10em;
    overflow-x: hidden;

}

.navbar-brand{
  font-size: 36pt;
}
/*BOOTSTRAP  */
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 1px;
    color: #000000;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
    outline: 0
}

.box_titles {
  font-size: 24px;
  font-family: 'Carter One', cursive;
}

#factors{
  text-align: center;
}
.Swot{
  margin: auto;
}
.row col-sm-12 {
  margin: auto;
  text-align: center;
}

#s_box, #w_box, #t_box, #o_box {
  font-size: 18px;
  text-align: left;
  height: 400px;
  padding: 2em;
  margin: 1em;
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 39px 0px rgba(0,0,0,0.75);
}

#s_box {
  background-color: #b1e9f2;
  border-radius: 65px 65px 0px 65px;
  -moz-border-radius: 65px 65px 0px 65px;
  -webkit-border-radius: 65px 65px 0px 65px;
  }

  #o_box {
    background-color: #dcf598;
    border-radius: 65px 0px 65px 65px;
    -moz-border-radius: 65px 0px 65px 65px;
    -webkit-border-radius: 65px 0px 65px 65px;
    }
  #w_box {
      background-color: #e7a61a;
      border-radius: 65px 65px 65px 0px;
      -moz-border-radius: 65px 65px 65px 0px;
      -webkit-border-radius: 65px 65px 65px 0px;
  }

  #t_box {

      background-color: #fcc0c0;
      border-radius: 0px 65px 65px 65px;
      -moz-border-radius: 0px 65px 65px 65px;
      -webkit-border-radius: 0px 65px 65px 65px;
  }

#howitworks{
  color:#D88A23;
  font-family: 'Pacifico', cursive;
  font-size: 42pt;
  letter-spacing: 4px;
}

.howitworks{
  color:#D88A23;
  font-family: 'Pacifico', cursive;
  font-size: 24pt;
  letter-spacing: 2px;
}


#footer {
  background-color: #D88A23;
  width: 100%;
  height: 150px;
}

#logooo {
  color:#D88A23;
  font-family: 'Pacifico', cursive;
  font-size: 32pt;
  letter-spacing: 2px;
}

#menuitem {
  color:#D88A23;
  font-family: 'Pacifico', cursive;
  font-size: 15pt;
  letter-spacing: 2px;
}

#welcomeLogo {
  color:#ffffff;
  text-shadow: 3px 5px #000000;
  font-family: 'Pacifico', cursive;
  font-size: 50pt;
  letter-spacing: 5px;
}

#login, #signup {
  background-color: #D88A23;
}

.btnuser {
  background-color: #c2df23;
  color: white;
  font-family: Arial;
  font-size: 14pt;
}

#footerNotes{
  color:white;
  text-align: right;
  margin-right: 50px;
}

#welcome{
  text-shadow: 3px 5px #000000;
}
/*




.panel-login {
	border-color: #ccc;
  font-family: 'Aclonica', sans-serif;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}*/
